#header {
  padding-block: 20px;
  box-shadow: 0.5px 0.5px 20px 0.4px;
  background: url(https://e1.pxfuel.com/desktop-wallpaper/19/536/desktop-wallpaper-starbucks-logo-4057-1920x1080-starbucks-coffee.jpg)
    no-repeat center;
  background-size: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header_text {
    display: flex;
    align-items: center;
    gap: 40px;
    img {
      max-width: 70px;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
    nav {
      display: flex;
      align-items: center;
      gap: 30px;
      p {
        color: #fff;
        display: flex;
        font-weight: 600;
        transition: 1s ease;
        box-shadow: 0 0.7em 1.5em -0.5em hsla(120, 100%, 51%, 0.745);
      }
      p:hover {
        color: rgb(32, 171, 32);
        transition: 0.3s ease;
      }
      p:active {
        transform: translateY(-3px);
        // transition: 0.3s ease;
      }
    }
  }
}

/* From Uiverse.io by Creatlydev */
.button {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(120, 100%, 54%, 0.745);
  transition: transform 0.3s;
  background: linear-gradient(90deg, 0%, rgb(23, 174, 56) 100%);
}
.button:nth-child(2) {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(0, 0%, 100%, 0.745);
  transition: transform 0.3s;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(37, 52, 40) 100%);
}
.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #5c5c5c;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(126, 100%, 83%, 0.745);
}
.button:nth-child(2):active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(0, 0%, 100%, 0.745);
}
