#header {
  padding-block: 10px;
  box-shadow: 0.5px 0.5px 20px 0.4px;
  background: url(https://e0.pxfuel.com/wallpapers/371/767/desktop-wallpaper-mcdonalds-logo-yellow-shiny-logo-mcdonalds-metal-emblem-red-carbon-fiber-texture-mcdonalds-brands-creative-art-mcdonalds-emblem.jpg)
    no-repeat center;
  background-size: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header_text {
    display: flex;
    align-items: center;
    gap: 40px;
    img {
      max-width: 60px;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
    nav {
      display: flex;
      align-items: center;
      gap: 30px;
      p {
        color: #fff;
        display: flex;
        font-weight: 600;
        transition: 1s ease;
        box-shadow: 0 0.7em 1.5em -0.5em rgb(255, 200, 0);
      }
      p:hover {
        color: rgb(255, 200, 0);
        transition: 0.3s ease;
      }
      p:active {
        transform: translateY(-3px);
        // transition: 0.3s ease;
      }
    }
  }
}

/* From Uiverse.io by Creatlydev */
.button {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(41, 100%, 50%, 0.852);
  transition: transform 0.3s;
  background: linear-gradient(
    90deg,
    rgba(255, 10, 10, 0.856) 0%,
    rgba(255, 170, 0, 0.801) 100%
  );
}
.button:nth-child(2) {
  line-height: 1;
  background: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(41, 93%, 53%, 0.751);
  transition: transform 0.3s;
  background: linear-gradient(
    90deg,
    rgba(255, 10, 10, 0.856) 0%,
    rgba(255, 170, 0, 0.801) 100%
  );
}
.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #ff9d00;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(45, 100%, 50%, 0.745);
}
.button:nth-child(2):active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(45, 100%, 50%, 0.745);
}

ion-icon {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}
