.product {
  padding: 100px 0 200px 0;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.git {
  background: url(https://wallpapercat.com/w/full/6/a/3/949680-2560x1707-desktop-hd-mcdonalds-wallpaper-image.jpg)
    no-repeat center;
  background-size: 170%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  gap: 30px;
  max-width: 350px;
  width: 100%;
  position: absolute;
  z-index: -99;
  height: 365px;
}

.content {
  background: rgba(0, 0, 0, 0.477);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  gap: 30px;
  max-width: 350px;
  width: 100%;
  box-shadow: 3px 3px 50px 0.5px black;
  color: white;
}
::placeholder {
  color: white;
}

.content input {
  border: 2px solid rgba(255, 255, 255, 0.461);
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  color: white;
  outline: none;
  overflow: hidden;
  background: none;
  border-radius: 10px;
  transition: all 0.5s;
  width: 300px;
}

.content input:hover {
  border: 2px solid #ec784a;
  box-shadow: 0px 0px 0px 7px rgba(118, 67, 17, 0.678);
  background-color: rgba(255, 255, 255, 0.107);
}

.button {
  width: 160px;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(41, 100%, 50%, 0.852);
  transition: transform 0.3s;
  background: linear-gradient(
    90deg,
    rgba(255, 10, 10, 0.856) 0%,
    rgba(255, 170, 0, 0.801) 100%
  );
}
.button:nth-child(2) {
  line-height: 1;
  background: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(41, 93%, 53%, 0.751);
  transition: transform 0.3s;
  background: linear-gradient(
    90deg,
    rgba(255, 10, 10, 0.856) 0%,
    rgba(255, 170, 0, 0.801) 100%
  );
}
.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #ff9d00;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(45, 100%, 50%, 0.745);
}
.button:nth-child(2):active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(45, 100%, 50%, 0.745);
}
